body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.pink-background {
    background-color: #FFC0CB;
}

.blue-background {
    background-color: #ADD8E6;
}

.green-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.no-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.big-text {
    font-size: 2em;
    font-weight: bold;
}

.center-video {
    width: 50%;
    margin: auto;
}

.love-text {
    font-size: 20px;
    font-weight: bold;
}

.next-btn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
